.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px auto auto 50px;
    column-gap: 15px;
    grid-template-areas: 
      "header header header"
      "nav left right"
      "nav bottom bottom"
      "footer footer footer";
    text-align: center;
    color: dodgerblue;
  }

  h2 {
    font-size: 30px;
  }

header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    grid-area: header;
    color: white;
    background-color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: center;
}

header h1 { 
    font-size: 64px;
    color: white;
    margin: 10px;
}

header img {
    /* align-self: center;
    justify-self: center; */
    border-radius: 10px;
    width: 64px;
    margin-left: 30px;
    margin-right: 30px;
}

nav {
    grid-area: nav;
    color: white;
    background-color: lightskyblue;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

nav ul {
    margin: auto;
    align-self: center;
    text-shadow: silver;
    font-style: oblique;
    list-style-type: none;
    margin: 0;
    padding: 25px;
}

nav li {
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:visited{
    color: white;
}
nav a:hover{
    color: dodgerblue;
}
nav a:link{
    color: white;
}

body {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
body::after {
    content: '';
    display: block;
    height: 50px;
}

footer {
    grid-area: footer;
    text-align: center;
    bottom: 0;
    background-color: lightskyblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.content {
    color: dodgerblue;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

ul {
    text-align: center;
    list-style-position: inside;
}

#pierwszy {
    width: 50%;
}
#drugi{
    color:lightskyblue;
    width: 50%;
}
#superlot {
    position: relative;
    background-color: pink;
    width: 200px;
    color: white;
    text-align: center;
    top: 70px;
    left: 120px;
}

th, td{
    border: 2px solid lightskyblue;
}

.city img{
    width: 300px;
    height: 150px;
}
.city {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.delaysDiv,
.flightDiv{
    width: 500px;
    align-self: flex-start;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    margin: 20px;
}

a:visited{
    color: dodgerblue;
    text-decoration: none;
}
a:hover{
    color: lightskyblue;
    text-decoration: none;
}
a:link{
    color: dodgerblue;
    text-decoration: none;
}

table{
    width: 80%;
    border-collapse: collapse;
    border: 3px solid dodgerblue;
    margin: 0 auto;
}

.canceled {
    background-color: crimson;
    color: yellow;
}

.verylate {
    background-color: darkorange;
    color: red;
}

.late {
    background-color: yellow;
    color: red;
}

.pasazerowie {
    width: fit-content;
    text-align: left;
    align-items: left;
    margin: 0 auto;
}

.pasazer:nth-child(even) { background-color: white;}
.pasazer:nth-child(odd) { background-color: rgb(200, 224, 255);}

.pasazer .numer {
    display: none;
}

.pasazer:hover .numer {
    display: inline;
    background-color: dodgerblue;
    color: white;
    padding: 2px;
}

.okienko {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    font-size: large;
    text-align: center;
    vertical-align: center;
    width: 20%;
    height: 20%;
    opacity: 90%;
    border-radius: 20px;
    top: 40%;
    left: 40%;
}

@media only screen and (max-width: 1200px) {  
    .container {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 100px 100px auto auto 50px;
        column-gap: 15px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "left right"
        "bottom bottom"
        "footer footer";
    }
    nav {
        vertical-align: center;
    }
    nav li {
        float: left;
    }
    .city img {
        width: 200px;
    }
    img {
        width: 200px;
    }

}

@media only screen and (max-width: 800px) {  
    .container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 100px 100px auto auto auto 50px;
        column-gap: 15px;
        grid-template-areas: 
        "header"
        "nav"
        "left"
        "right"
        "bottom"
        "footer";
    }
}